.item {
  margin-top: 12.5px;
}

.head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.date,
.name {
  line-height: 20px;
}

.date {
  margin-left: 10px;
  font-size: 0.65rem;
  color: #808080;
}

.message {
  position: relative;
  background-color: #f2fbff;
  border: 1px solid #cfcfcf;
  padding: 15px 20px;
  box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.05);
}

.message:before,
.message:after {
  content: "";
  position: absolute;
}

.message:before {
  left: 19px;
  top: -11px;
  border: 10px solid transparent;
  border-bottom: 10px solid #cfcfcf;
  border-left: 10px solid #cfcfcf;
  z-index: -1;
}
.message:after {
  left: 20px;
  top: -9px;
  border: 8px solid transparent;
  border-bottom: 8px solid #f2fbff;
  border-left: 8px solid #f2fbff;
}
